{% extends 'base.html' %}

{% block title %}Game Catalogue{% endblock %}

{% block content %}
<div class="container">
        <div class="board-games">
            <div class="game_header_table d-flex justify-content-between align-items-center flex-wrap gap-2 mb-3">
                <h3 class="mb-0">Board Games</h3>
                {% if user.is_staff %}
                <a class="btn-add" href="{% url 'create_board_game' %}">+ Add Board Game</a>
                {% endif %}
            </div>
    {% if games %}
        <div class="table-wrapper">
            <table class="table_scroll">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Players</th>
                        <th>Playtime</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                <!-- Display records in the 'board game' database  -->
                    {% for game in games %}
                        <tr>
                            <td>{{ game.title }}</td>
                            <td>{{ game.category }}</td>
                            <td>{{ game.min_players }} - {{ game.max_players }}</td>
                            <td>{{ game.playtime_minutes }} minutes</td>
                            <td>{{ game.quantity }}</td>
                            <td>
                            {% if user.is_staff %}
                                <a href="{% url 'edit_board_game' game.pk %}" class="btn-primary">Edit</a>
                                <a href="{% url 'delete_board_game' game.pk %}" class="btn-secondary">Delete</a>
                            {% else %}
                            <a href="#" class="btn-primary">Rent</a>
                            {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        <!-- No records clause  -->
        {% else %}
            <p class="text-muted mb-0">No games found.</p>
        {% endif %}
        </div>
    </div>
{% endblock %}