{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <!-- CSS Stylesheet -->
        <link rel="stylesheet" href="{% static 'stylesheet.css' %}"/>

        <!-- Fonts -->
        <link rel ="stylesheet" href="https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600&family=Inter:wght@400;500;600&display=swap">

        <title>Login</title>
    </head>

    <body>
        <div class="login-container">

            <h1>The Tabletop Club</h1>

            {% if form.errors %}
            <div class="form-error">
                Invalid username or password
            </div>
            {% endif %}

            <form method="post" class="login-form">
                {% csrf_token %}

                <div class="login-field">
                    <label for="id_username">Username</label>
                    {{ form.username }}
                </div>

                <div class="login-field">
                    <label for="id_password">Password</label>
                    {{ form.password }}
                </div>

                <button type="submit" class="login-button">
                    Login
                </button>

            </form>

        </div>
    </body>
</html>